<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winbee.successcentersikar">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.OfflineDownloadActivity"/>
        <activity android:name=".activity.DownloadVideo" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ShowDownload"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.ShowDownloadCourse" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ReferalActivity"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity
            android:name=".activity.YoutubeLive"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AllPurchasedCourseTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AllPurchasedPdfActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PdfDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.QuizSolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.QuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyTransactionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestRankActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AllPurchasedTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DemoOnlineTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TestSeriesDetailsActivity" />
        <activity
            android:name=".activity.TestSubscriptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyPurchaseTopicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyPurchaseSubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyPurchasedCourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VimeoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.YoutubeLibaray"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".activity.CourseTopicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyCourseSubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CourseDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestSolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.McqSolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ViewResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OnlineQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OnlineTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InstructionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DiscussionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewDoubtActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DoubtSolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DoubtActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OtpVerficationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.IntroSliderActivity" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResetPassWordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PdfWebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PdfWebActivityDownload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.StudyMaterial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.YoutubePlayer"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.YouTubeVideoList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DashboardCourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashPageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".Utils.MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
    </application>

</manifest>