<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winbee.successcentersikar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".YoutubeLive"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified"/>
        <activity android:name=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllPurchasedCourseTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllPurchasedPdfActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PdfDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizSolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyTransactionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestRankActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllPurchasedTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DemoOnlineTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TestSeriesDetailsActivity" />
        <activity
            android:name=".TestSubscriptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyPurchaseTopicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyPurchaseSubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyPurchasedCourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VimeoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YoutubeLibaray"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".CourseTopicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyCourseSubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestSolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".McqSolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OnlineQuestionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OnlineTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstructionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiscussionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewDoubtActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoubtSolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoubtActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OtpVerficationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".IntroSliderActivity" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPassWordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PdfWebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PdfWebActivityDownload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudyMaterial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YoutubePlayer"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".YouTubeVideoList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardCourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashPageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <service
            android:name=".Utils.MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="true"/>


    </application>

</manifest>